.brand-icon {
  width: 150px;
  height: 75px;
  margin-right: 12px;
  vertical-align: above;
}

.exercise-card {
  background-color: #f1f8ff;
  border: 1px solid #d0e3ff;
}

.exercise-card:hover {
  background-color: #e3f2fd;
}
